<div class="user-preferences">
  <h2 class="user__header">Preferences</h2>
  <div class="user-preferences-actions">
    <button
      class="primary-button user__button"
      (click)="navigateToEditPreferences()">
      Edit Preferences
    </button>
  </div>
</div>
<div class="user-favourite-products">
  <h2 class="user__header">Favourite Products</h2>
  <div class="user-favourite-products-actions">
    <button
      class="primary-button user__button"
      (click)="navigateToFavouriteProducts()">
      Show Favourite Products
    </button>
    <button
      class="primary-button user__button"
      (click)="navigateToAddNewFavouriteProducts()">
      Add New Favourite Product
    </button>
  </div>
</div>
