@import '../../../styles/variables.scss';

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $ingreedio-light-yellow;
}

.title{
    font-family: 'Playfair Display', serif;
    margin: 0 0 0 0;
    color: #468448;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 30px;
}

label{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.dialog-content{
    display: flex;
    flex-direction: column;
}

.content{
    margin-bottom: 30px;
    font-size: 22px;
}

.rating{
    font-size: 28px;
    width: 100px;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: $ingreedio-secondary;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;

}

.button-close{
    margin-left: 10px;
}

.button-submit{
    margin-right: 10px;
}