// colors
$ingreedio-primary: #468448;
$ingreedio-primary-light: #90EE90;
$ingreedio-secondary: #fedc6c;
$ingreedio-light-yellow: #eeeec9;
$ingreedio-greenish-gray: #4e554f;
$ingreedio-white: #ffffff;
$ingreedio-primary-hover: #356637;
$ingreedio-black: #000000;
$ingreedio-error: #b70c0c;
$ingreedio-light-error: #cdaaaa;


// font sizes
$small-font: 12px;
$medium-font: 18px;
$medium-big-font: 24px;
$big-font: 32px;
$very-big-font: 40px;
$very-very-big-font: 64px;
$ultra-big-font: 80px;

// spaces
$one-space: 8px;

// breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;

// general-variable
$navbar-height: 100px;
$panel-width: 265px;
