/* You can add global styles to this file, and also import other style files */
@import './styles/buttons.scss';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ingreedio-input {
  border: 2px solid $ingreedio-greenish-gray;
  background-color: $ingreedio-secondary;
  height: 45px;
  border-radius: 25px;
  line-height: 30px;
  text-indent: 20px;
  font-size: $medium-font;

  &--error {
    border-color: $ingreedio-error;
  }
}


